@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Open+Sans:wght@300&family=Raleway&display=swap');



*{
    font-family: 'Raleway', sans-serif;
}
#bg_navbar{
    background-color:white;
}

#bg_navbar ul li a{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    background-image: linear-gradient(currentcolor,currentcolor);
    background-position:0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

#bg_navbar ul li a:hover{
    color: black;
    font-weight: 600;
    background-size: 100% 2px;
}

#bg_navbar img{
    width: 150px;
}

/* paragraph */

.phrase{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-style: italic;
    font-size: 32px;
    font-weight: 100;
    margin: 10px;
    
}

.frank{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* text quienes somos */

.container_quienes_somos{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
/* qm=quienes somos, but i wrote it with "m", sorry! */
.qm_h1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 80px 0 30px 0;

}

.qm_p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight:300;
    vertical-align: baseline;
    letter-spacing: 0.5px;
    width: 50%;
    left: 50%;
    margin-bottom: 100px;
}

/* image birds */

.content_aves{
    display: flex;
    position: relative;
    justify-content: center;
    /* height:26rem ; */

}

.aves{
    
    width: 100%;
    padding-bottom: 40px;
}
.text_aves{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    font-size: 36px;
    color: rgb(227, 230, 229);
    font-weight: 200;
    text-shadow: 4px 4px 2px #02312d;
    text-shadow: 6px 5px 2px #000000;
    top: 400px;

    
}
.container_quienes_somos .qs_p{
    margin-bottom: 1.5%;
}

.container_button{
    display:flex;
    justify-content:center;
    padding-top: 0;
    margin-top: 0%;
    

}

.button_lm{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin-bottom: 30px;
}

#cont-btn{
    display: flex;
    justify-content: center;
}

.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-neon:hover{
    background: #45c74e;
    box-shadow: 0 0 10px #45c74e, 0 0 40px #45c74e, 0 0 80px #45c74e;
    transition-delay: .5s;
}

.btn-neon span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,trasnsparent,#45c74e);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    top: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,trasnsparent,#45c74e);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
}
/* starting grid */

.container_gallery{
    
    width:70%;
    max-width: 1200px;
    margin: auto;
    padding: 40x, 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 40px;
}

.container_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}

.card_gallery{
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    align-items: center;
    justify-content: center;
    
}

/* .gallery_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
} */

.text_colibri{
    position: absolute;
    color: aliceblue;
    font-size: 30px;
    text-shadow: 2px 2px 2px #02312d;
    text-shadow: 3px 3px 2px #000000;

}

.banner{
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resolution-gallery{
    width: 500px;
    height: 330px;
    
   
}
.resolution-banner{
    width: 300px;
    height:500px
}


/* starting footer */

footer{
    width: 100%;
    display:block;
    justify-content: center;
    height: 80px;
    margin-top: 30px;
    
}

.container_footer{
    display: flex;
    width: 100%;
    height: 40px;
    align-content: center;
    justify-content: center;
    gap: 20px;
   
}

.icon_sm{
    width: 30px;
}

footer a{
    text-decoration: none;
}



/* starting conocenos page */

.proposito{
    display: flex;
    width: 80%;
    height: auto;
    margin-left: 150px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    font-size:19px ;
}



.conocenos_tittle{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


.container_photos{
    display: flex;
    width: 90%;
    height: 250px; 
    background-color: rgb(228, 252, 252);
    border-radius: 30% 80% 80% 30%;
    margin-left: 100px;
    background: linear-gradient(azure, rgb(136, 250, 202) ); 
    margin-bottom: 30px;

}
.photos_cards{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 70px;
    align-items: center;
    
}
.photo_text{
    display: flex;
    margin-left: 50px;
    height: 70%;
    width: 70%;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    justify-content: center;

    
}
.photo_cardenas{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
    }


    /* starting publicaciones */

    .pub_image{
        display: flex;
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .pub_text{
        position: absolute;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 2px #02312d;
        text-shadow: 2px 2px 2px #000000;
    }



/* starting contactanos */

.contact_form{
    display: flex;
    min-height: 100vh;
}

.form{
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 30%);
    text-align: center;
}
    
.form_tittle{
    font-size: 2rem;
    margin-bottom: .5em;
}
.form_paragraph{
    font-weight: 300;
}
.form_link{
    font-weight: 400;
    color: #000000;
}
.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form_group{
    position: relative;
    color: #5757577e;
}
.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(196, 195, 195);
    font-family: 'Raleway', sans-serif;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}
.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color ,3s;
}

.form_submit{
    background: #3866f2;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label{
    transform: scale(1);
}