//sizes
$w-100:100%;
$h-100:100%;

//tipography
$main_font:'Raleway', sans-serif;
$pg_font: 'Lato', sans-serif;

//font sizies
$fontXXL: 4em;
$fontLg: 2em;
$fontMd:1.5em;
$fontSm: 1em;

//color nav bar
$bg_color: white;

//buttons color
$btn_neonColor:#45c74e;

// colors for donation

$linear_gradient-blue: hsl(249,99%,64%);
$linear_gradient-purple: hsl(278,94%,30%);
$red: hsl(0,100%,66%);
$white:hsl(0,0%,100%);
$ligth_grayish-violet: hsl(270,3%,87%);
$Dark_grayish-violet: hsl(279,6%,55%);
$very_dark-violet: hsl(278,66%,11%);
$mainfont_donation: 'Space Grotesk', sans-serif;
