//sizes
$w-100:100%;
$h-100:100%;

//tipography
$main_font:'Raleway', sans-serif;
$pg_font: 'Lato', sans-serif;

//font sizies
$fontXXL: 4em;
$fontLg: 2em;
$fontMd:1.5em;
$fontSm: 1em;

//color nav bar
$bg_color: white;

//buttons color
$btn_neonColor:#45c74e;

